<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bus Location</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  		  <h1>Input time interval for Bus distribution map. </h1>
		  <h2>Please specify the plotting time interval in 2015/09/12 19:00 - 2015/09/20 19:00</h2>
		  <p>The starting date start from 00:00 and the ending date end 23:59<p> 
		  <form id='userinput' method='post' action='bus_static' >
		    <p>
		      Starting date: <input type='text' name='tstart'/> (only yyyy/mm/dd, e.g. 2015/09/12)<br>
		      Ending date  : <input type='text' name='tend'/> (only yyyy/mm/dd e.g. 2015/09/20) <br>
		    </p>
		    <p>
		      <input type='submit' value='Submit' />
		    </p>
		    <h2><a href="/">Go Home</a></h2>
		  </form>
		  
		</div>
	</body>
</html>
